<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <activePackageSource>
    <add key="CurrentPZM 3rd-party" value="https://www.nuget.org/api/v2/" />
  </activePackageSource>
  <config>
    <add key="repositoryPath" value="$\..\..\..\packages" />
  </config>
  <packageSources>
    <add key="CurrentPZM 3rd-party" value="https://www.nuget.org/api/v2/" />
  </packageSources>
</configuration>